*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    font-family: 'Roboto', sans-serif;
}

.containerCreadores{
    position: relative;  
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    background-image: url("../assets/image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.containerCreadores::after {
    content: " ";
    background: rgba(0, 0, 0, 0.747);
    z-index: 1;
    position: absolute;
    top: 0; 
    left: 0; 
    width: 100%;
    height: 100%; 
}

.creadoresHome{
    width: 100%; 
    height: calc(100vh - 3rem);
    display: flex;
    justify-content: center;
    align-items: center;
}